.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.register-input{
    width: 15vw;
    border: 2px solid rgb(69, 69, 158);
    font-size: 12pt;
    background-color: rgb(0, 0, 0);
    color: white;
    min-height: 30px;
}
.register-button{
    width: 5vw;
    border: 2px solid rgb(69, 69, 158);
    font-size: 12pt;
    background-color: rgb(43, 43, 43);
    color: white;
    min-height: 30px;
    transition-duration: 0.3s;
}
.register-button:hover{
    transform: scale(1.05);
}